<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qzy.com.toolslibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity"
                        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.SVGActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.HeadViewRecyclerViewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.NormalRecyclerViewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.RecordAudioActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.RecordAudio2Activity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.PicetureMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.PhotoSelectActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.PhotoFragmentActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.TabBarActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.PlayService" />

        <activity android:name=".ui.AppUpdateActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name=".utils.AppUpdateFileProvider"
            android:authorities="${applicationId}.appfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_paths"/>
        </provider>

        <activity android:name=".ui.BackgroundActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.LoggerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.AppResetActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>